$suc_backcolor:green !default;
$suc_h:20% !default;
$suc_w:80% !default;
$info_backcolor:yellow !default;
$info_h:20% !default;
$info_w:80% !default;
$aver_backcolor:orange !default;
$aver_h:20% !default;
$aver_w:80% !default;
$dg_backcolor:red !default;
$dg_h:20% !default;
$dg_w:80% !default;
