@import "all";

.grille{
  @include grille();
}

.row{
  @include ligne();
}

$class-col: col !default;
$class-offset: offset !default;

@for $i from 1 through 12{
  .#{$class-col}-#{$i}{
    @include posdim(12,$i,0);
  }
}


@for $i from 1 through 12{
  .#{$class-offset}-#{$i}{
    @include offset(12,$i,0);
  }
}

/*---------------------Navbar------------*/
.navbar{
  height : 60px;

 ul, li  {
  margin : 0;
  margin-right : 5px;
  padding : 0;
  border : none;
  list-style-type: none;
  }
}

#mobile{
  display: none;
}

.dropdown{
    display : none;
    background-color: grey;
    margin-right : 0px;

    li{
      justify-content: center;
      margin-right : 0;
      border : solid 1px lightgrey;
    }
}

#drop{
  color : white;
}

#imgDropdown{
  width : 60px;
}

#imgDropdownOrdi{
  width : 60px;
}

#ulDrop{
  margin-right : 0;
}

#imgMobile{
  justify-content: flex-end;
}

#imgOrdi{
  justify-content: flex-end;
}

#ordiNav{
  display : block;
}

#ulDrop > li{
  padding : 10px;
}

.dropdownOrdi{
  padding: 10px;
  display : none;
  background-color: grey;
  margin-right : 0px;

  li{
    justify-content: center;
    margin-right : 0;
    border : solid 1px lightgrey;
  }
}

.white{
  color : white;
}

@media only screen and (max-width:800px) {
  #mobile{
    display : block;
    position : absolute;
    width : 100%;
    margin : 0;
  }

  #ordi{
    display : none;
  }

  #ordiNav{
    display : none;
  }
}

/*-------------------------------------------*/

.liste{
    list-style-type: none;
  li{
    list-style: none;
  }
}

.art{
  height: auto;
  width: 100%;
  padding-left:2%;
  padding-right:2%;
}
