extends ../layout

block content
  .login-container.container
    .panel
      .panel-body
        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form.form-style-9(method='POST')
          legend Connexion
          br
          .form-group
            label.control-label(for='email') Email
            input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus=true)
          br
          .form-group
            label.control-label(for='password') Mot de passe
            input.form-control(type='password', name='password', id='password', placeholder='Mot de passe')
          br
          .form-group
            a(href='/forgot')
              strong Mot de passe oublié?
          button.btn.btn-success(type='submit') Se connecter

        .btn-toolbar.text-center

    p.text-center Pas de compte?
      a(href='/signup')
        strong Inscription
