extends ../layout

block content
  .container
    .panel
      .panel-body
        if messages.success
          .alert.alert-success(role='alert')
            for success in messages.success
              div= success.msg

        if messages.error
          .alert.alert-danger(role='alert')
            for error in messages.error
              div= error.msg

        form(method='POST')
          legend Restauré mot de passe
          .form-group
            label(for='password') Nouveau mot de passe
            input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus=true)
          .form-group
            label(for='confirm') Confirmer mot de passe
            input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password')
          .form-group
            button.btn.btn-success(type='submit') Changer mot de passe
