extends layout

block content

    form.form-style-9(action = '/valideArticle?id_liste='+idliste, method = 'post', enctype="multipart/form-data")
      div
        label(for='nom') Nom de l'article :
        input#nom(type='text' name="nom" required autofocus)
      div
        label(for='description') Description :
        input#description(type='text' name="desc" required)
      div
        label(for='tarif') Tarif:
        input#tarif(type="number" onchange="setTwoNumberDecimal" min="0" step="0.01" value="0.00" name="tarif" required)
      div
        label(for='URL') URL :
        input#URL(type='text' name="url")
      div
        label(for='Image') Image :
        input#image(type='file' name='image' value="")

        input#addImage(type='button' value="+")

      br
      div
        input(type='submit', value='Valider')
