extends layout

block content
  .container-fluidZZ
    if messages.error
      .alert.alert-danger(role='alert')
        for error in messages.error
          div= error.msg
    if messages.success
      .alert.alert-success(role='alert')
        for success in messages.success
          div= success.msg
    if messages.info
      .alert.alert-info(role='alert')
        for info in messages.info
          div= info.msg


    form.form-style-9(action = '/valideList', method = 'POST')
            div
              label(for='titre') Titre de la liste :
              input#titre(type='text' name = "titre" value="" required autofocus)
            br
            div
              label(for='desc') Description :
              <textarea id="desc" name="desc" cols="35" wrap="soft"></textarea>
            br
            div
              label(for='date') Date limite :
              input#date(type="date" name = "date" value="" placeholder="aaaa-mm-dd" required)
            br
            div
              label(for='dest') Destinataire :
              input#dest(type='text' name = "destinataire" value="" required)
            br
            div
              label(for='testDestinataire') Etes-vous le destinataire :
              input#dest(type='checkbox' name = "testDestinataire" value="Oui")
            br
            div
              input(type='submit', value='Valider')
