extends layout

block content
        h3.panel-title Génération de l'URL de partage.

        br
        br
        br
        p Voici l'url a partager à vos amis :
          li.url='localhost:3000/'+sha1+'?id_liste=' + url
