extends layout

block content

  div
    h1 Créer votre liste de cadeaux
    a(href='/liste')
      img(src='img/rond.png' onmouseover="this.src='img/rond2.png'" onmouseout="this.src='img/rond.png'")
