@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*

//---------BOUTON---------//

//par default//
$blue:red; //couleur du bouton de base

//bouton avec dans l'odre la couleur du bouton puis le couleur au survol et la couleur a l'activation

//BOUTON ROUGE//
$b_red: ;
$hover_b_red:;
$act_b_red: ;

//BOUTON BLEU//
$b_blue: ;
$hover_b_blue: ;
$act_b_blue:;

//BOUTON JAUNE//
$yell:;
$hover_b_yell:;
$act_b_yell:;

//BOUTON VERT//
$green:;
$hover_b_green: ;
$act_b_green: ;

//taille du boutton

//PETIT BOUTON//
$small: ;

//BOUTON LARGE//
$large: ;

//BOUTON EXTRA LARGE//
$xl:;

//bouton avec dans l'odre la couleur du bouton puis le couleur au survol et la couleur a l'activation

//BOUTANT SANS STYLE//
$flat:;
$flat_act:;
$flat_hover:;

//BOUTON AVEC STYLE//
$fancy_color:; //couleur du bouton

//---------BASE---------//

//TITRE//
//taille du titre et couleur du titre
$h1_fs:;
$h1_color:;

$h2_fs:;
$h2_color:;

$h3_fs:;
$h3_color:;

$h4_fs:;
$h4_color:;

$h5_fs:;
$h5_color:;

$h6_fs:;
$h6_color: lightgray;

//sous-titre//

$ss_color:; //couleur du texte

//petite ├®criture//
//couleur et taille du texte
$small_color:;
$small_fs:;

//couleur du texte de la balise
$body_color:;
$mark_backcolor:; // couleur de fond
$mark_color:;
$code_color:;

//tableau avec couleur de ligne alterne

$alt_tabL1_backcolor:; //premiere couleur de fond d'une ligne
$alt_tabL2_backcolor:; // deuxieme couleur de fond d'une ligne
$alt_tabTH_backcolor:; // couleur de fond des noms de colonnes

//bordure de tableau
$bordurecom:;

//couleur de fond au survol des ligne du tableau
$survol_th_backcolor:;

//---------NAV---------//

//NAVBAR
$nav_color: white; //couleur de fond
$nav_w: ; // largeur
$nav_border: dotted 1px black; //bordure
$nav_lien: 1px bold black; // couleur des liens
$nav_lien_hover: 1px bold red; //couleur des liens au survol
//LIEN MORT

$dis_li_color:; //couleur de fond
$dis_lien_color:; //couleur du lien

//LIEN ACTIF

$active_lien_color:; //couleur de fond
$active_li_color:; //couleur du lien

//FIL ARIANE

$breadcrumb_img:; //image de fond des liens
$breadcrumb_h:; //hauteur totale
$breadcrumb_lien_color:; //couleur du lien
$breadcrumb_lienhover_color:; // couleur au survol du lien

//PAGINATION
$pag_color:; //couleur de fond
$pag_w:; //largeur totale
$pag_lien_color:; //couleur du lien
$pag_hover_color:; // couleur au survol du lien

//---------ALERTE---------//

//dans l'odre pour chaque alerte la couleur du fond du paragraphe puis la hauteur et la largeur de celui-ci

//SUCEE
$suc_backcolor:green !default;
$suc_h:20% !default;
$suc_w:80% !default;

//INFORMATION
$info_backcolor:yellow !default;
$info_h:20% !default;
$info_w:80% !default;

//AVERTISSEMENT
$aver_backcolor:orange !default;
$aver_h:20% !default;
$aver_w:80% !default;

//DANGER
$dg_backcolor:red !default;
$dg_h:20% !default;
$dg_w:80% !default;



*/
h1 {
  font-size: 60px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

h2 {
  font-size: 50px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

h3 {
  font-size: 40px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

h4 {
  font-size: 30px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

h5 {
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

h6 {
  font-size: 10px;
  color: black;
  font-weight: bold;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

small {
  font-size: 10px;
  color: grey;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

body {
  font-size: 15px;
  color: black;
  font-family: Verdana, Arial, Helvetica, sans-serif; }

p {
  margin-bottom: 20px; }

mark {
  background-color: yellow;
  color: black; }

del {
  text-decoration: line-through; }

ins {
  text-decoration: underline; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

abbr {
  border-bottom: .1em dotted;
  cursor: help; }

ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
  display: list-item; }

li {
  display: list-item;
  list-style: disc; }

blockquote {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 20px;
  margin-right: 20px; }

code {
  text-decoration: underline;
  color: red; }

pre {
  display: block;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  white-space: pre;
  margin: 1em 0; }

kbd {
  font-family: Verdana, Arial, Helvetica, sans-serif; }

table, th, td {
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center; }

img {
  max-width: 100%; }

.navbar {
  display: flex;
  flex: auto;
  text-decoration: none;
  justify-content: center;
  font-size: 22px;
  width: 100%;
  padding-left: 0px;
  background-color: grey; }
  .navbar li {
    display: flex;
    flex: auto;
    text-decoration: none;
    align-items: center;
    border: 2px solid black; }
    .navbar li a {
      text-decoration: none;
      justify-content: center;
      align-items: center;
      color: white; }
    .navbar li a:hover {
      color: red; }

li.disable {
  background-color: black; }
  li.disable a {
    color: grey; }

li.active {
  background-color: grey; }
  li.active a {
    color: blue; }

ul.breadcrumb {
  display: flex;
  height: 100px; }
  ul.breadcrumb li {
    list-style: none;
    background-image: url("images/fleche.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 1%;
    padding-right: 5%; }
    ul.breadcrumb li a {
      color: white;
      text-decoration: none;
      line-height: 620%;
      margin-left: 10%;
      padding-left: 7%; }
    ul.breadcrumb li a:hover {
      color: red; }

.pagination {
  display: flex;
  background-color: #F5F5F5;
  width: 99%;
  padding-left: 1%;
  flex: auto; }
  .pagination li {
    list-style: none;
    margin-right: 2%; }
    .pagination li a {
      text-decoration: none;
      color: grey; }
    .pagination li a:hover {
      color: red; }

.grille {
  width: 100%;
  padding: 0 0 0 0;
  height: auto; }

.row {
  width: 100%;
  display: flex;
  flex-direction: row; }

.col-1 {
  flex-basis: 8.3333333333%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-2 {
  flex-basis: 16.6666666667%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-4 {
  flex-basis: 33.3333333333%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-5 {
  flex-basis: 41.6666666667%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-6 {
  flex-basis: 50%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-7 {
  flex-basis: 58.3333333333%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-8 {
  flex-basis: 66.6666666667%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-9 {
  flex-basis: 75%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-10 {
  flex-basis: 83.3333333333%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-11 {
  flex-basis: 91.6666666667%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.col-12 {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  margin: auto; }

.offset-1 {
  width: 8.3333333333%;
  margin: auto; }

.offset-2 {
  width: 16.6666666667%;
  margin: auto; }

.offset-3 {
  width: 25%;
  margin: auto; }

.offset-4 {
  width: 33.3333333333%;
  margin: auto; }

.offset-5 {
  width: 41.6666666667%;
  margin: auto; }

.offset-6 {
  width: 50%;
  margin: auto; }

.offset-7 {
  width: 58.3333333333%;
  margin: auto; }

.offset-8 {
  width: 66.6666666667%;
  margin: auto; }

.offset-9 {
  width: 75%;
  margin: auto; }

.offset-10 {
  width: 83.3333333333%;
  margin: auto; }

.offset-11 {
  width: 91.6666666667%;
  margin: auto; }

.liste {
  list-style-type: none; }
  .liste li {
    list-style: none; }

.art {
  height: auto;
  width: 100%;
  padding-left: 2%;
  padding-right: 2%; }

h1 {
  text-align: center;
  border-bottom: solid black 2px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 1%; }

img {
  padding-top: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  width: 15%; }

img:hover {
  height: 20%;
  width: 20%; }

/*# sourceMappingURL=atelier.css.map */
